.app-page-title {
    padding:10px 30px!important;
    margin-bottom:0 !important;
}
.action-icon a {
    padding:8px;
    font-size: 18px;
}
.action-icon a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}
